.hero-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
    /* background-color: #333; Set your desired background color */
  
    .hero-content {
      flex: 1;
      color: white;
  
      h1 {
        font-size: 64px;
        margin-bottom: 5px;
       
      }
  
      p {
        font-size: 24px;
        opacity: 0.8;
        position: fixed;
      }
    }
  
    .hero-image {
        filter: brightness(80%);
        max-width: 100%;
        height: auto;
        transform: scale(0.9);
        min-width: 500px; /* Adjust as needed */
        min-height: 800px; /* Adjust as needed */
        transform-origin: center center;/* Set your desired height */
        background: url('C:\Users\anoop\Desktop\Web dev\portfolio\anoop.com\public\portfolio-img.png') center/cover;
      
    }
    
    /* .hero-image::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: linear-gradient(45deg, #ff8a00, #e52e71); /* Set your desired gradient colors */
      /* opacity: 0.5;  */
  }
  
  @media only screen and (max-width: 768px) {
    .hero-section {
      flex-direction: column;
      padding: 20px;
  
      .hero-content {
        text-align: center;
  
        h1 {
          font-size: 2rem;
        }
  
        p {
          font-size: 1.2rem;
        }
      }
  
      .hero-image {
        margin-top: 20px;
        height: 200px;
      }
    }
  }
  