body{
    margin: 0%;
    background-color: #0E0E0E;
    font-family: 'Inter', sans-serif;
    padding: 0%;
    width: 100%;
    
}
body::-webkit-scrollbar {
    width: 0; /* Set the width of the scrollbar */
  }

  @media  (max-wdith:768px) {
   body{
    width: 100vh;
   }
  }